@model Muebleria_Alpes_Web_Frontend.Mvc.ViewModels.Productos.ColorViewModel

<div class="modal fade" id="modalEditarColor-@Model.Id" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content erp-modal">
            <form asp-controller="Colores" asp-action="Actualizar" asp-route-id="@Model.Id" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Color</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="employee-mini-card mb-3">
                        <div class="avatar-soft" style="background-color:@(Model.HexColor ?? "#ccc");">
                        </div>
                        <div>
                            <strong>@Model.Nombre</strong>
                            <small>@Model.Codigo</small>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-8">
                            <label class="form-label">Nombre *</label>
                            <input name="Nombre" class="form-control" value="@Model.Nombre" required />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Color Hex</label>
                            <input name="HexColor" type="color" class="form-control form-control-color w-100" value="@(Model.HexColor ?? "#563d2d")" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary btn-main">
                        <i class="bi bi-save"></i> Guardar cambios
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
